@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif !important;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/09/06/12879/90af7a81684e21186ebbdb1c437c2c1b.jpg");
  font-family: 'Open Sans Condensed', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section#about {
  border: 5px solid #DAF927;
  height: 45%;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/09/10/13699/6e07ade0cfe8ec9f84fd2d4b3fa7fe60-1000.jpg");
}

section#about p {
  padding: 10px 80px 10px 80px;
}

@media screen and (max-width: 530px) {
  section#about {
    height: 60%;
  }
}

section#projects {
  border: 5px solid green;
}

section#contact {
  border: 5px solid #003366;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/09/21/15788/416c914ed04348d43a5cd9e8ea24962b-1000.jpg");
}

div#first_pair {
  display: flex;
}

div#second_pair {
  display: flex;
}

div#third_pair {
  display: flex;
}

div.project {
  flex: 1;
  border: 5px solid #CC0099;
  margin: 5px;
}

div.links {
  display: flex;
  justify-content: center;
}

div.links p {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid blue;
}

div#contact_details {
  display: flex;
  justify-content: center;
}

div#contact_details p {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid teal;
  background-color: green;
}
